# Ignore environment files
.env
*.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore virtual environment directory
venv/